* {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    color: rgb(0, 0, 0);
}

html, body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.data td {
    padding: 15px;
    text-align: center;
}



.data tr:nth-child(2n) {
    background: rgb(255, 255, 255);
}

.data tr:nth-child(2n) td:last-child {
    border-radius: 0 30px 30px 0;
}

.container {
    margin: auto;
    width: 70vw;
    padding: auto;
}

html {
    font-size: 18px;
}

h1 {
    font-size: 3rem;
    width: 90%;
}

h2 {
    font-size: 2.2rem;
}

p {
    line-height: 140%;
}

a:visited {
    color: rgb(212, 220, 255);
}

label, select, input, textarea, fieldset {
    display: block;
    margin: 2px;
}


.zayavka fieldset label, input {
    display: inline-block;
}

.zayavka input, textarea, select {
    font-size: 1.1rem;
}

.zayavka textarea {
    width: 99%;
    padding: 10px 10px;
}

#vac ul li {
    font-size: 1.5rem;
    display: inline-block;
    margin: 10px;
    background-color: rgb(49, 134, 190);
    padding: 10px 20px;
    border-radius: 10px;
}

.logo {
    font-size: 2rem;
}

#tel {
    width: 30%;
    padding: 10px 10px;
}

img {
    border-radius: 20px;
}