.container {
    margin: 0 auto;
    width: 70vw;
}

html {
    font-size: 18px;
}

h1 {
    font-size: 3rem;
    width: 90%;
}

h2 {
    font-size: 2.2rem;
}

p {
    line-height: 140%;
}

section {
    background-color: blanchedalmond;
    border: 2px solid black;
}

h2 + p {
    color: rgb(83, 49, 49);
}

h2:hover {
    color: aqua;
}

a:visited {
    color: chartreuse;
}

label, select, input, textarea, fieldset {
    display: block;
    margin: 2px;
}

fieldset {
    border: 2px solid black;
}

.zayavka fieldset label, input {
    display: inline-block;
}

.zayavka input, textarea, select {
    font-size: 1.1rem;
}

.zayavka textarea {
    width: 99%;
    padding: 10px 10px;
}

#vac ul li {
    font-size: 1.5rem;
}